.error404-body{
  background-color: var(--beige-sable);
}

.error404{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
    background-color: var(--brun);
}

.btn{
    background-color: var(--marron-orangé);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 20px;
}