.footer__contenu{
    background-color: var(--marron-clair);

}

.footer__item{
    color: white;
    text-decoration: none;
    padding-bottom: 18px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    list-style: none;
}

.footer__itme-link{
    margin-top: 54px;
}

.footer__menu{
    padding-top: 54px;
    padding-bottom: 22px;
    padding-left: 24px;
    margin: 0;
}

.footer__bar{
    width: 100%;
    height: 6px;
    display: block;
    background-color: var(--beige-sable);
}

.footer__contenu2{
    /* text-decoration: none;
    justify-content: space-evenly;
     */
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    padding-top: 18px;
    
    
}

.footer__mail{
    color: white;
}

.footer__liste{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    
}

.footer__item{
    padding: 10px;
    
}

.footer__mail{
    text-decoration: none;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    padding-top: 37px ;

}

.footer__content-txt{
    display: flex;
    color: white;
    margin: 94px ;

}

.footer__reseaux{
    display: flex;
    justify-content: space-around;
}