.livre__contenu{
    margin: 10px;
}

.livre__contenu-image-affiche{
    width: 90%;
    height:90%;
    margin: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}

.livre__titre-intro{
    font-family: "Exo 2";
    font-size: 24px;
}

.livre__contenu-titre{
    font-family: "Exo 2";
    font-size: 24px;
}

.livre__contenu-image{
    width: 100%;
    height: 100%;
}